
@{
    ViewBag.Title = "Download";
}

<div class="jumbotron">
    <h3>Laboratorio No. 2</h3>
</div>

Presione el siguiente botón para descargar su archivo: <br><br>
<div>
    <input type = "button" value = "Download"
           onclick = "location.href = '@Url.Action("DownloadFile", "Cifrado")'" %>
</div>

@ViewBag.Message
