
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h3>Subir archivo a Cifrar</h3>
</div>

@using (Html.BeginForm("Index", "Cifrado", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <label for="file">Subir archivo:</label>
    <input type="file" name="file" id="file" /><br>

    <label for="password">Ingrese Contraseña:</label>
    <input type="password" name="password" id="password" /> <br>

    <label for="cifrado">Ingrese Tipo de Cifrado:</label>
    <select id="cifrado" name="cifrado">
        <option value="1">César</option>
        <option value="2">Zig Zag</option>
        <option value="3">Espiral</option>
    </select>
    <br>

    <label for="operacion">Ingrese Operacion a Realizar:</label>
    <select id="operacion" name="Operacion">
        <option value="1">Cifrar</option>
        <option value="2">Descifrar</option>
    </select>
    <br>
    
    <br>
    <input type="submit" value="Aceptar" />

    <br><br>
    @ViewBag.Message
}

