
@{
    ViewBag.Title = "RSA";
}

<h2>RSA</h2>

<div class="jumbotron">
    <h3>Subir archivo a Cifrar</h3>
</div>

@using (Html.BeginForm("Index", "Cifrado", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <label for="file">Subir archivo a cifrar:</label>
    <input type="file" name="file" id="file" /><br>

    <label for="key">Subir archivo de llave:</label>
    <input type="file" name="key" id="key" /><br>

    <br>
    <input type="submit" value="Aceptar" />

    <br><br>

    <label style="color: red">@ViewBag.Message</label>
}

